/* Estilos generales del body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(247, 247, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 123px;
  overflow-x: hidden;
}

/* Estilos del header */
/* Estilos del nav del header */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8.6px 20px;
  box-shadow: 0 2px 3px rgba(40, 40, 40, 0.08);
  position: fixed;
  top: 0;
  left: 70px;
  right: 0;
  transition: left 0.3s;
  z-index: 1;
}

/* DISEÑO PARA EL ELEMENTO DE TV */
header nav ul li {
  margin-right: 20px;
}

header nav ul li img.tv-icon {
  margin-right: 12.76px;
  transform: scale(1.2) scaleX(1) scaleY(0.95) translateY(0.94px);
}

header nav ul li a {
  letter-spacing: 0.5px;
}

header nav ul li:first-child {
  transform: translateX(30px);
}

/* DISEÑO PARA EL ELEMENTO DE ZOOM */
.zoom-item {
  transform: translateX(40px);
  display: flex;
  align-items: center;
  gap: 19px;
}

.zoom-icon {
  transform: scale(1.2, 0.84) translate(1.6px, -1.4px);
}

/* DISEÑO PARA EL ELEMENTO DE ONEDRIVE */
.onedrive-item {
  transform: translateX(64.1px);
  letter-spacing: 0.5px;
}

.onedrive-icon {
  transform: scale(2.35, 1.1) translate(-5px, 2px);
}

/* DISEÑO PARA EL ELEMENTO CORREO */
.correo-item {
  transform: translateX(88.7px);
}

.correo-icon {
  transform: scale(1.2, 0.96) translate(-10.5px, 1.2px);
}

/* DISEÑO PARA EL ELEMENTO REPOSITORIO */
.repositorio-item {
  transform: translateX(113.5px);
}

.repositorio-icon {
  transform: scale(1.1, 1.2) translate(-11px, 1.2px);
}

/* Estilos del nav expandido del header */
header nav.expanded {
  left: 300px;
}

/* Estilos del logo del header */
header .logo img {
  height: 40px;
}

/* Estilos de la lista del header */
header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Estilos de los items de la lista del header */
header ul li {
  margin-right: 20px;
}

/* Estilos de los enlaces de la lista del header */
header ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(65, 60, 60);
  font-size: 15px;
  line-height: 23px;
}

/* Estilos de la información del usuario en el header */
header .user-info {
  display: flex;
  align-items: flex-start;
}

/* Estilos de los textos del usuario en el header */
header .user-info span {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: rgb(65, 60, 60);
}

/* Estilos de la información adicional del usuario en el header */
header .user-info .header-info {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgb(169, 168, 168);
}

/* Estilos de las imágenes de la lista del header */
header nav ul li img {
  width: 15px;
  height: 15px;
}

/* Estilos de las imágenes de los iconos del header */
header nav .icons img {
  width: 15px;
  height: 15px;
}

/* Estilos de la imagen del usuario en el header */
header .user-info img {
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Estilos de los textos del usuario en el header */
header .user-info .textos {
  display: flex;
  flex-direction: column;
  transform: translateX(-23px);
  letter-spacing: 0.5px;
}

/* Estilos de la información del usuario */
/* LÍNEA VERTICAL AL COSTADO DEL PERFIL */
.user-info::before {
  content: "";
  position: absolute;
  top: 0;
  right: 216.05px;
  bottom: 0;
  width: 0.3px;
  background-color: rgba(240, 240, 240, 255);
}

/* Estilos de la imagen del usuario */
.user-info img {
  transform: translate(-32px, 12.2px) scale(1.2);
}

/* Estilos de la información adicional del usuario */
.header-info {
  transform: translateY(-0.8px);
}

/* Estilos de la imagen del usuario en el nav */
header nav .user-info img {
  width: 15px;
  height: 15px;
}

.icons {
  position: absolute;
  top: 0;
  right: 20px;
}

.icons img {
  transform: translateX(-202px) translateY(22px) scale(1.3);
  margin-right: 25px;
}

/* Estilos del contenido */
.content {
  display: flex;
  flex: 1;
}

/* Estilos del logo */
.logo {
  position: relative;
  top: 2px;
}

/* Estilos de la imagen del logo */
.logo img {
  max-width: 50px;
  height: auto;
  margin-left: -10px;
  margin-top: -10px;
  height: 55px;
}

/* Estilos del logo extendido */
.logo-extended {
  width: 85px;
  height: 66px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  right: 118px;
  z-index: 1;
  transition: none;
  pointer-events: none;
  overflow: visible;
}

/* Estilos del borde debajo del logo */
.logo::after {
  content: "";
  display: block;
  width: calc(100% + 40px);
  height: 0.1px;
  background-color: rgba(228, 228, 228, 255);
  margin-top: 8px;
  position: absolute;
  left: -20px;
}

/* Estilos del aside */
aside {
  background-color: rgb(255, 10, 63);
  color: rgb(255, 206, 217);
  padding: 20px;
  width: 30px;
  overflow: hidden;
  flex-shrink: 0;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s;
  height: 100vh;
  z-index: 1;
}

/* Estilos del aside en hover */
aside:hover {
  width: 260px;
}

/* Estilos de la lista del aside */
aside ul {
  list-style-type: none;
  padding: 0;
  margin: 16.19px 0 0 0;
}

/* Estilos de los items de la lista del aside */
aside ul li {
  margin-bottom: 1px;
  margin-left: -10px;
  transform: translateY(10px);
}

/* Estilos de los enlaces de la lista del aside */
aside ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  padding: 10.8px 8px;
  width: calc(100% - -10px);
  margin-bottom: 6px;
  padding-left: 40px;
  box-sizing: border-box;
  transition: color 0.3s;
}

/* Estilos de los textos de los enlaces de la lista del aside */
aside ul li a span {
  margin-left: 10px;
  display: inline-block;
}

/* Estilos de los enlaces del aside */
aside a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  display: flex;
  align-items: center;
  background-image: url("/static/images/hogar.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-origin: content-box;
  background-position: -25px center;
  padding-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.3s;
}

/* Estilos de los textos de los enlaces del aside */
aside a span {
  margin-left: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* Estilos de los enlaces del aside */
aside a::after {
  content: "";
}

/* Estilos de los items de la lista del aside en hover */
aside li:hover {
  color: #fff;
}

/* Estilos de los enlaces del aside en hover */
aside a:hover {
  background-color: rgba(226, 22, 88, 1);
}

/* Estilos de los enlaces del aside con clase inicio */
aside ul li a.inicio {
  background-color: rgba(226, 22, 88, 1);
}

/* DISEÑO PARA "INICIO" */
aside ul li a.inicio {
  background-image: url("/static/images/ico_home.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: -25px center;
  padding-left: 40px;
  transform: scaleY(1.04) translateY(1px) translateX(-1px);
}

/* DISEÑO PARA "MIS TRÁMITES" */
aside ul li a.mis_trámites {
  background-image: url("/static/images/ico_bookshop.png");
  background-repeat: no-repeat;
  background-size: 18px 20.38px;
  background-position: -24.4px 1px;
  padding-left: 40px;
  filter: opacity(0.66) drop-shadow(0 0 0 rgb(255, 206, 217));
}

aside ul li a.mis_trámites:hover {
  filter: none;
}

/* DISEÑO PARA "PAGOS EN LÍNEA" */
aside ul li a.pagos_en_linea {
  background-image: url("/static/images/ico_card.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: -25px center;
  padding-left: 40px;
  filter: opacity(0.66) drop-shadow(0 0 0 rgb(255, 206, 217));
}

aside ul li a.pagos_en_linea:hover {
  filter: none;
}

/* DISEÑO PARA "INFORMACIÓN ACADÉMICA" */
.informacion_academica {
  background-image: url("/static/images/ico_file.png");
  background-repeat: no-repeat;
  background-size: 20px 19px;
  background-position: -25px center;
  padding-left: 40px;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  display: flex;
  align-items: center;
  background-origin: content-box;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.3s;
  filter: opacity(0.66) drop-shadow(0 0 0 rgb(255, 206, 217));
}

.informacion_academica:hover {
  filter: none;
}

/* DISEÑO PARA "PORTAL DE BIBLIOTECA" */
aside ul li a.portal_de_biblioteca {
  background-image: url("/static/images/ico_book.png");
  background-repeat: no-repeat;
  background-size: 18px 19px;
  background-position: -25px center;
  padding-left: 40px;
  filter: opacity(0.66) drop-shadow(0 0 0 rgb(255, 206, 217));
}

aside ul li a.portal_de_biblioteca:hover {
  filter: none;
}

/* DISEÑO PARA "CAMBIAR MI CONTRASEÑA" */
aside ul li a.cambiar_mi_contraseña {
  background-image: url("/static/images/ico_padlock.png");
  background-repeat: no-repeat;
  background-size: 16px 20px;
  background-position: -25px center;
  padding-left: 40px;
  filter: opacity(0.66) drop-shadow(0 0 0 rgb(255, 206, 217));
}

aside ul li a.cambiar_mi_contraseña:hover {
  filter: none;
}

/* Estilos del footer */
footer {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  color: #333;
  height: 24.85px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 70px;
  right: 0;
  transition: left 0.3s;
  border-top: 1px solid rgba(228, 228, 228, 1);
}

/* Estilos del footer expandido */
footer.expanded {
  left: 300px;
}

/* Estilos del párrafo del footer expandido */
footer.expanded p {
  transform: translateX(-155px) translateY(-12px);
}

/* Estilos del párrafo del footer */
footer p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(76, 82, 88);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  transform: translateX(-40px) translateY(-12px);
}

/* Estilos del submenu */
.submenu {
  display: none;
  position: absolute;
  padding: 15px;
  top: -2px;
  border: none;
}

.submenu li {
  margin-bottom: 10px;
}

.submenu li a {
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  padding-left: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.option-icon {
  background-size: 12px;
  padding-left: 20px;
}

/* Estilos para mover los elementos cuando el menú esté abierto */
.submenu-open {
  position: relative;
  top: 170px;
}

/* Estructura del "RECORD ACADÉMICO" */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  position: relative;
  max-width: 860.4px;
  margin: 83px 273.8px 40px auto;
  height: 400vh; /* Ajusta la altura al 100% del viewport */
}

.red-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 97.3%;
  height: 120px; /* Ajusta la altura según sea necesario */
  background-color: rgba(255, 10, 65, 255);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  transform: translateX(11.8px);
  z-index: 0; /* Asegúrate de que esté detrás del contenido */
}

.record-heading {
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 34px;
  color: rgb(0, 0, 0);
  text-align: center; /* Centra el texto horizontalmente */
  position: relative; /* Permite el uso de transformaciones */
  top: -20px; /* Ajusta la posición vertical hacia arriba */
  left: -120px;
}

/* Estilos para la lista de textos */
.notes-list {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding-left: 0; /* Elimina el padding izquierdo por defecto */
}

.notes-list li {
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgb(0, 0, 0);
}

.logo-sjb {
  width: 249px; /* Ajusta el ancho según sea necesario */
  height: auto;
  margin-right: 20px; /* Añade espacio entre el logo y el panel de notas */
  transform: translate(
    -8px,
    -1316.8px
  ); /* Ajusta los valores según sea necesario */
}

#suggestion-box {
  position: absolute;
  top: 30px; /* ajusta este valor según sea necesario */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

/* TEXTOS DE LAS CALIFICACIONES */
.notes-panel .header h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.5px;
  transform: translateY(-6.5px) translateX(39px);
}

.notes-panel p span {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 21px;
}

.notes-panel p span + span {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 21px;
}

.notes-panel p.info {
  margin: 0 !important;
  padding: 1.9px 0 !important;
  transform: translateX(-190px) translateY(-2.5px);
}

.notes-panel p.codigo span:first-child {
  margin-right: 110px; /* Agrega espacio entre Código: y 1000071135 */
}

.notes-panel p.nombre-completo span:first-child {
  margin-right: 32.35px; /* Agrega espacio entre Nombre Completo: y ROJAS LICAS, ANGELA IBETH */
}

.notes-panel p.situacion span:first-child {
  margin-right: 93.6px; /* Agrega espacio entre Situación: y Cambio Datos */
}

.notes-panel p.grado span:first-child {
  margin-right: 117.6px; /* Agrega espacio entre Grado: y PREGRADO */
}

.notes-panel p.especialidad span:first-child {
  margin-right: 69.6px; /* Agrega espacio entre Especialidad: y MEDICINA HUMANA */
}

.notes-panel p.info span {
  letter-spacing: 0.5px; /* Agrega espacio entre letras */
}

.background-semestre {
  display: block;
  height: 30px; /* Altura del fondo */
  background-color: rgba(237, 237, 237, 255); /* Color del fondo */
  position: absolute; /* Posicionamos el fondo absolutamente */
  top: 0; /* Posicionamos el fondo en la parte superior */
  left: 12px; /* Posicionamos el fondo en la parte izquierda */
  width: 97.3%;
  z-index: 0;
  transform: translateY(393.6px);
}

h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.51px;
  transform: translate(96.75px, -9.6px);
  z-index: 1;
}

th {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 21px;
}

td {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 21px;
}

.promedio-ponderado {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 21px;
}

table {
  transform: translateX(-177px) translateY(-21.6px);
  letter-spacing: 0.5px;
}

/* TABLA 1 */
th.Curso {
  transform: translateX(-114.4px);
}

th.Crd {
  transform: translateX(84.4px);
}

th.Ciclo {
  transform: translateX(90.2px);
}

th.Nota {
  transform: translateX(94.8px);
}

/* TABLA 2 */
th.Curso2 {
  transform: translateX(-126px);
}

th.Crd2 {
  transform: translateX(61.4px);
}

th.Ciclo2 {
  transform: translateX(67.3px);
}

th.Nota2 {
  transform: translateX(72px);
}

/* TABLA 3 */
th.Curso3 {
  transform: translateX(-126px);
}

th.Crd3 {
  transform: translateX(61.4px);
}

th.Ciclo3 {
  transform: translateX(67.3px);
}

th.Nota3 {
  transform: translateX(72px);
}

/* TABLA 4 */
th.Curso4 {
  transform: translateX(-126px);
}

th.Crd4 {
  transform: translateX(61.4px);
}

th.Ciclo4 {
  transform: translateX(67.3px);
}

th.Nota4 {
  transform: translateX(72px);
}

/* TABLA 5 */
th.Curso5 {
  transform: translateX(-57.2px);
}

th.Crd5 {
  transform: translateX(199px);
}

th.Ciclo5 {
  transform: translateX(204.4px);
}

th.Nota5 {
  transform: translateX(209.4px);
}

/* TABLA 6 */
th.Curso6 {
  transform: translateX(-23.6px);
}

th.Crd6 {
  transform: translateX(266.4px);
}

th.Ciclo6 {
  transform: translateX(272px);
}

th.Nota6 {
  transform: translateX(276.6px);
}

/* TABLA 7 */
th.Curso7 {
  transform: translateX(-126px);
}

th.Crd7 {
  transform: translateX(61.4px);
}

th.Ciclo7 {
  transform: translateX(67.3px);
}

th.Nota7 {
  transform: translateX(72px);
}

/* TABLA 8 */
th.Curso8 {
  transform: translateX(-126px);
}

th.Crd8 {
  transform: translateX(61.4px);
}

th.Ciclo8 {
  transform: translateX(67.3px);
}

th.Nota8 {
  transform: translateX(72px);
}

/* TABLA 9 */
th.Curso9 {
  transform: translateX(-80px);
}

th.Crd9 {
  transform: translateX(153.6px);
}

th.Ciclo9 {
  transform: translateX(159.4px);
}

th.Nota9 {
  transform: translateX(164.4px);
}

/* REGISTROS DEL PRIMER CICLO */
td.curso {
  position: relative;
  left: 65px;
}

td.crd {
  position: relative;
  left: 84.4px;
}

td.ciclo {
  position: relative;
  left: 90.2px;
}

td.nota {
  position: relative;
  left: 94.8px;
}

/* REGISTROS DEL SEGUNDO CICLO */
td.curso2 {
  position: relative;
  left: 65px;
}

td.crd2 {
  position: relative;
  left: 61.4px;
}

td.ciclo2 {
  position: relative;
  left: 67.2px;
}

td.nota2 {
  position: relative;
  left: 71.6px;
}

/* REGISTROS DEL TERCER CICLO */
td.curso3 {
  position: relative;
  left: 65px;
}

td.crd3 {
  position: relative;
  left: 61.4px;
}

td.ciclo3 {
  position: relative;
  left: 67.2px;
}

td.nota3 {
  position: relative;
  left: 71.6px;
}

/* REGISTROS DEL CUARTO CICLO */
td.curso4 {
  position: relative;
  left: 65px;
}

td.crd4 {
  position: relative;
  left: 61.4px;
}

td.ciclo4 {
  position: relative;
  left: 67.2px;
}

td.nota4 {
  position: relative;
  left: 71.6px;
}

/* REGISTROS DEL QUINTO CICLO */
td.curso5 {
  position: relative;
  left: 65px;
}

td.crd5 {
  position: relative;
  left: 200px;
}

td.ciclo5 {
  position: relative;
  left: 208px;
}

td.nota5 {
  position: relative;
  left: 210px;
}

/* REGISTROS DEL SEXTO CICLO */
td.curso6 {
  position: relative;
  left: 65px;
}

td.crd6 {
  position: relative;
  left: 268px;
}

td.ciclo6 {
  position: relative;
  left: 274px;
}

td.nota6 {
  position: relative;
  left: 276px;
}

/* REGISTROS DEL SEPTIMO CICLO */
td.curso7 {
  position: relative;
  left: 65px;
}

td.crd7 {
  position: relative;
  left: 61.4px;
}

td.ciclo7 {
  position: relative;
  left: 67.2px;
}

td.nota7 {
  position: relative;
  left: 71.6px;
}

/* REGISTROS DEL OCTAVO CICLO */
td.curso8 {
  position: relative;
  left: 65px;
}

td.crd8 {
  position: relative;
  left: 61.4px;
}

td.ciclo8 {
  position: relative;
  left: 67.2px;
}

td.nota8 {
  position: relative;
  left: 71.6px;
}

/* REGISTROS DEL NOVENO CICLO */
td.curso9 {
  position: relative;
  left: 65px;
}

td.crd9 {
  position: relative;
  left: 156px;
}

td.ciclo9 {
  position: relative;
  left: 160px;
}

td.nota9 {
  position: relative;
  left: 164px;
}