body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff; /* Fondo de la página en blanco */
}

header {
    background-color: #fff; /* Cambiar a blanco */
    color: #004080; /* Cambiar el color del texto a azul oscuro para mantener la visibilidad */
    padding: 1em 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #004080; /* Cambiar el color de los enlaces a azul oscuro para mantener la visibilidad */
    text-decoration: none;
}

.welcome-section {
    text-align: center;
    padding: 2em;
    background-color: #f4f4f4;
}

.info-section {
    padding: 2em;
    background-color: #e2e2e2;
}

.footer-container {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 80px; /* Ajusta el tamaño del círculo según sea necesario */
    background-color: #004080; /* Color de fondo azul oscuro */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    margin: 20px auto; /* Centra el contenedor horizontalmente y añade un margen superior */
}

.icon {
    width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
}
