<!DOCTYPE html>
<html>
  <head>
    <title>Selecciona tu perfil</title>
    <link rel="stylesheet" href="/static/css/ingreso.css" />
  </head>
  <body>
    <div class="main-container">
      <h2>Selecciona tu perfil</h2>

      <div class="container">
        <button class="student-button">
          <span class="student-text" data-url="{% url 'principal' %}"
            >ESTUDIANTE</span
          >
        </button>
      </div>

      <button class="logout-button">Cerrar Sesión</button>
    </div>
    <script src="/static/scripts/ingreso.js"></script>
  </body>
</html>