<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet - San Juan en Línea</title>
    <link rel="stylesheet" href="/static/css/inicio.css" />
  </head>
  <body>
    <div class="outer-container">
      <section class="container">
        <div class="banner">
          <h1>Intranet - San Juan en Línea</h1>
        </div>

        <header>
          <div class="header-container">
            <img
              src="/static/images/logo_SJB.png"
              alt="Logo UPSJB"
              class="logo"
            />
          </div>
        </header>

        <main>
          <section class="login-section">
            <h1>Ingresa a tu cuenta</h1>
            <a href="/login" class="login-button">
              <img src="/static/images/o365.png" alt="Office 365 Logo" />
              Inicia sesión con o365
            </a>
            <p><a href="#" class="forgot-password">Olvidé mi contraseña</a></p>
            <a href="#" class="user-button">Conoce tu usuario</a>
          </section>
          <section class="social-links">
            <h2 style="color: #53565a">Síguenos en:</h2>
            <div class="social-icons">
              <div class="social-icon">
                <a href="https://www.instagram.com/upsjb/" target="_blank">
                  <img src="/static/images/ico_ig.png" alt="Instagram" />
                </a>
              </div>
              <div class="social-icon">
                <a href="https://www.facebook.com/UPSJBSAC" target="_blank">
                  <img src="/static/images/ico_fb.png" alt="Facebook" />
                </a>
              </div>
              <div class="social-icon">
                <a
                  href="https://pe.linkedin.com/school/universidad-privada-san-juan-bautista/"
                  target="_blank"
                >
                  <img src="/static/images/ico_in.png" alt="LinkedIn" />
                </a>
              </div>
              <div class="social-icon twitter">
                <a href="https://twitter.com/UPSJB" target="_blank">
                  <img src="/static/images/ico_twitter.png" alt="Twitter" />
                </a>
              </div>
              <div class="social-icon">
                <a
                  href="https://www.tiktok.com/@aprendeconlasanjuan"
                  target="_blank"
                >
                  <img src="/static/images/ico_tiktok.png" alt="TikTok" />
                </a>
              </div>
            </div>
          </section>
        </main>
        <footer class="footer">
          <div class="footer-links">
            <a href="#">Transparencia</a>
            <a href="#">Campus UPSJB</a>
            <a href="#">Ayuda</a>
          </div>
        </footer>
      </section>

      <section class="carousel-container">
        <div class="carousel">
          <img
            src="/static/images/ganadores.png"
            alt="Ganadores"
            class="active"
          />
          <img src="/static/images/buen_pagador.png" alt="Buen Pagador" />
          <img src="/static/images/promo_amigos.png" alt="Promoción Amigos" />
          <img src="/static/images/yape.png" alt="Yape" />
          <img
            src="/static/images/centro_idiomas.jpeg"
            alt="Centro de Idiomas"
          />
          <div class="carousel-indicators">
            <button
              type="button"
              class="carousel-btn active"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              class="carousel-btn"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              class="carousel-btn"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              class="carousel-btn"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              class="carousel-btn"
              aria-label="Slide 5"
            ></button>
          </div>
        </div>
      </section>
    </div>

    <script>
      const carousel = document.querySelector(".carousel");
      const slides = carousel.querySelectorAll("img");
      const buttons = carousel.querySelectorAll(".carousel-btn");
      let slideIndex = 0;

      buttons.forEach((button, index) => {
        button.addEventListener("click", () => {
          slides.forEach((slide) => slide.classList.remove("active"));
          buttons.forEach((btn) => btn.classList.remove("active"));
          slides[index].classList.add("active");
          button.classList.add("active");
          slideIndex = index;
        });
      });

      function moveSlides() {
        slides.forEach((slide) => slide.classList.remove("active"));
        buttons.forEach((btn) => btn.classList.remove("active"));
        slides[slideIndex].classList.add("active");
        buttons[slideIndex].classList.add("active");
        slideIndex++;
        if (slideIndex >= slides.length) {
          slideIndex = 0;
        }
      }

      setInterval(moveSlides, 5000);
    </script>
  </body>
</html>
