<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet - San Juan en Línea</title>
    <link rel="stylesheet" href="/static/css/intranet_home.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="header-banner">Intranet - San Juan en Línea</div>

      <!-- Contenedor del logo y texto de inicio de sesión -->
      <div class="logo-container">
        <img src="/static/images/logo_SJB.png" alt="Logo San Juan en Línea" />
        <div class="login-text">Ingresa a tu cuenta</div>
      </div>

      <!-- Contenedor de imágenes -->
      <div class="image-container">
        <img
          src="/static/images/ganadores.png"
          alt="Ganadores"
          class="image-reduced"
        />
        <img
          src="/static/images/buen_pagador.png"
          alt="Buen Pagador"
          class="image-reduced"
        />
        <img
          src="/static/images/promo_amigos.png"
          alt="Promo Amigos"
          class="image-reduced"
        />
        <img src="/static/images/yape.png" alt="Yape" class="image-reduced" />
        <img
          src="/static/images/centro_idiomas.jpeg"
          alt="Centro de Idiomas"
          class="image-centro-idiomas"
        />
      </div>

      <a href="#" class="forgot-password">Olvidé mi contraseña</a>

      <!-- Controles de imágenes -->
      <div class="image-controls">
        <button
          onclick="changeImage(0)"
          class="image-button"
          aria-label="Imagen 1"
        ></button>
        <button
          onclick="changeImage(1)"
          class="image-button"
          aria-label="Imagen 2"
        ></button>
        <button
          onclick="changeImage(2)"
          class="image-button"
          aria-label="Imagen 3"
        ></button>
        <button
          onclick="changeImage(3)"
          class="image-button"
          aria-label="Imagen 4"
        ></button>
        <button
          onclick="changeImage(4)"
          class="image-button"
          aria-label="Imagen 5"
        ></button>
      </div>

      <!-- Botón Conocer tu usuario -->
      <a href="#" class="conocer-usuario-button">Conoce tu usuario</a>

      <div class="follow-us-text">Síguenos en:</div>

      <div class="social-icons">
        <div class="social-icon-container">
          <a href="https://www.instagram.com">
            <img
              src="/static/images/ico_ig.png"
              class="social-icon"
              alt="Instagram"
            />
          </a>
        </div>
        <div class="social-icon-container">
          <a href="https://www.facebook.com">
            <img
              src="/static/images/ico_fb.png"
              class="social-icon"
              alt="Facebook"
            />
          </a>
        </div>
        <div class="social-icon-container">
          <a href="https://www.linkedin.com">
            <img
              src="/static/images/ico_in.png"
              class="social-icon"
              alt="LinkedIn"
            />
          </a>
        </div>
        <div class="social-icon-container">
          <a href="https://www.twitter.com">
            <img
              src="/static/images/ico_twitter.png"
              class="social-icon"
              alt="Twitter"
            />
          </a>
        </div>
        <div class="social-icon-container">
          <a href="https://www.tiktok.com">
            <img
              src="/static/images/ico_tiktok.png"
              class="social-icon"
              alt="TikTok"
            />
          </a>
        </div>
      </div>

      <!-- Botón Inicia sesión con o365 -->
      <button class="o365-button" onclick="location.href='{% url 'login' %}'">
        <img src="/static/images/o365.png" alt="o365 icon" class="o365-icon" />
        <span class="o365-text">Inicia sesión con o365</span>
      </button>

      <div class="footer">
        <div class="footer-links">
          <a href="#" class="footer-link">Transparencia</a>
          <a href="#" class="footer-link">Campus UPSJB</a>
          <a href="#" class="footer-link">Ayuda</a>
        </div>
      </div>
    </div>

    <script src="/static/scripts/intranet_home.js"></script>
  </body>
</html>