<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interfaz Digital</title>
    <link rel="stylesheet" href="/static/css/principal.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="/static/images/logo_terceario.png" alt="Logo" />
        </div>
        <ul>
          <li><a href="#">Blackboard</a></li>
          <li><a href="#">Zoom</a></li>
          <li><a href="#">Onedrive</a></li>
          <li><a href="#">Correo</a></li>
          <li><a href="#">Repositorio</a></li>
        </ul>
        <div class="user-info">
          <span>ANGELA.ROJAS</span>
          <span>ESTUDIANTE</span>
        </div>
      </nav>
    </header>
    <div class="content">
      <aside>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Requisitos</a></li>
          <li><a href="#">Mis Trámites</a></li>
          <li><a href="#">Pagos en Línea</a></li>
          <li><a href="#">Mi Horario</a></li>
          <li><a href="#">Mis Calificaciones</a></li>
          <li><a href="#">Mi Record Académico</a></li>
          <li><a href="#">Mis Notas Aprobadas</a></li>
          <li><a href="#">Actualizar Mis Datos</a></li>
        </ul>
      </aside>
      <main>
        <div class="intro-text">
          <h1 class="main-title">¿Qué quieres hacer hoy?</h1>
          <h2 class="sub-title">Descubre todo lo que te ofrecemos de manera 100% digital</h2>
        </div>
        <div class="cards">
          <div class="card">
            <h2>Requisitos</h2>
            <p>Conoce qué requisitos tienes pendientes</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Mis Trámites</h2>
            <p>Conoce tus trámites disponibles</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Pagos en Línea</h2>
            <p>Conoce tus pagos pendientes</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Mi Horario</h2>
            <p>Conoce tu horario de clases</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Mis Calificaciones</h2>
            <p>Conoce tus calificaciones</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Mi Record Académico</h2>
            <p>Conoce tu record académico</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Mis Notas Aprobadas</h2>
            <p>Conoce tus notas aprobadas</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Actualizar Mis Datos</h2>
            <p>Actualiza tu información</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Fotocheck</h2>
            <p>Revisa tu fotocheck virtual</p>
            <button>Ir a conocer</button>
          </div>
          <div class="card">
            <h2>Portal de Biblioteca</h2>
            <p>Visita el Portal de Biblioteca</p>
            <button>Ir a conocer</button>
          </div>
        </div>
      </main>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
      <div class="modal-container">
        <div class="modal-header">
          <h2 class="modal-title">Noticias & Comunicados</h2>
          <span class="close">&times;</span>
        </div>
        <!-- Contenedor de imágenes en el modal -->
        <div class="inner-container">
          <div class="carousel-container">
            <a
              href="https://mailing.upsjb.edu.pe/detalles-importantes-sobre-la-matricula-2024-i"
              target="_blank"
            >
              <img
                src="/static/images/banner.jpeg"
                alt="Anuncio Publicitario"
                class="carousel-image active"
              />
            </a>
            <a
              href="https://mailing.upsjb.edu.pe/comunicado-de-pensiones-2024-i-1"
              target="_blank"
            >
              <img
                src="/static/images/banner_pensiones.jpg"
                alt="Banner Pensiones"
                class="carousel-image"
                style="display: none"
              />
            </a>
            <a
              href="https://mailing.upsjb.edu.pe/formas-de-pago"
              target="_blank"
            >
              <img
                src="/static/images/banner_pagos.png"
                alt="Banner Pagos"
                class="carousel-image"
                style="display: none"
              />
            </a>
            <a
              href="https://mailing.upsjb.edu.pe/-temporary-slug-e549011f-f581-4e38-8c18-1ffbdb907718?hs_preview=AGwIeExP-135145694741"
              target="_blank"
            >
              <img
                src="/static/images/banner_DNI.png"
                alt="Banner DNI"
                class="carousel-image"
                style="display: none"
              />
            </a>

            <!-- Agrega las flechas de navegación fuera de los enlaces -->
            <div class="carousel-arrow carousel-arrow-left" id="prev">
              <img
                src="/static/images/flecha_izquierda.png"
                alt="Flecha izquierda"
              />
            </div>
            <div class="carousel-arrow carousel-arrow-right" id="next">
              <img
                src="/static/images/flecha_derecha.png"
                alt="Flecha derecha"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>UPSJB © 2024. Todos los derechos reservados.</p>
    </footer>
    <script src="/static/scripts/principal.js"></script>
  </body>
</html>