<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interfaz Digital</title>
    <link rel="stylesheet" href="/static/css/principal.css" />
    <link rel="stylesheet" href="/static/css/record.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <img
              src="/static/images/ico_TV.png"
              alt="Blackboard icon"
              class="tv-icon"
            />
            <a href="#"
              >Blackboard</a
            >
          </li>
          <li class="zoom-item">
            <img
              class="zoom-icon"
              src="/static/images/ico_recording.png"
              alt="Zoom icon"
            />
            <a href="#" target="_blank">Zoom</a>
          </li>
          <li class="onedrive-item">
            <img
              class="onedrive-icon"
              src="/static/images/ico_cloud.png"
              alt="Onedrive icon"
            />
            <a
              href="#"
              >Onedrive</a
            >
          </li>
          <li class="correo-item">
            <img
              class="correo-icon"
              src="/static/images/ico_message.png"
              alt="Correo icon"
            />
            <a href="#">Correo</a>
          </li>
          <li class="repositorio-item">
            <img
              class="repositorio-icon"
              src="/static/images/ico_notification.png"
              alt="Repositorio icon"
            />
            <a href="#">Repositorio</a>
          </li>
        </ul>
        <div class="icons">
          <img src="/static/images/ico_clock.png" alt="Clock icon" />
          <img src="/static/images/ico_help.png" alt="Help icon" />
        </div>
        <div class="user-info">
          <img src="/static/images/ico_profile.png" alt="imagen" />
          <div class="textos">
            <span>ANGELA.ROJAS</span>
            <span class="header-info">ESTUDIANTE</span>
          </div>
        </div>
      </nav>
    </header>
    <div class="content">
      <aside>
        <div class="logo">
          <img src="/static/images/logo_terceario.png" alt="Logo" />
        </div>
        <ul>
          <li>
            <a href="#" class="inicio"><span>Inicio</span></a>
          </li>
          <li>
            <a href="#" target="_blank" class="mis_trámites"
              ><span>Mis Trámites</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="pagos_en_linea"
              ><span>Pagos en Línea</span></a
            >
          </li>
          <li>
            <a class="informacion_academica">
              <span
                class="dropdown-span"
                onclick="this.classList.toggle('active');"
              >
                Información Académica
                <img
                  src="/static/images/despliegue.png"
                  alt="Desplegar"
                  class="dropdown-arrow"
                />
              </span>
            </a>
            <ul class="submenu">
              <li><a href="#" class="option-icon">Mi Horario</a></li>
              <li><a href="#" class="option-icon">Mis Calificaciones</a></li>
              <li><a href="#" class="option-icon">Mi Record Académico</a></li>
              <li><a href="#" class="option-icon">Mis Notas Aprobadas</a></li>
              <li><a href="#" class="option-icon">Requisitos</a></li>
            </ul>
          </li>
          <li>
            <a
              href="#"
              class="portal_de_biblioteca"
              ><span>Portal de Biblioteca</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="cambiar_mi_contraseña"
              ><span>Cambiar Mi Contraseña</span></a
            >
          </li>
        </ul>
      </aside>
      

      <div class="container">
        <nav class="breadcrumb" aria-label="Breadcrumb navigation">
          <h1 class="breadcrumb__title">
            <span class="breadcrumb__section">INFORMACIÓN ACADÉMICA</span>
            <span class="breadcrumb__separator">/</span>
            <span class="breadcrumb__section breadcrumb__section--active">MI RECORD ACADÉMICO</span>
          </h1>
        </nav>
        <div class="red-header">
          <div class="boton-flecha">
            <button>
              <img src="/static/images/ultima_flecha.png" alt="Flecha" class="flecha">
            </button>
          </div>
        </div>
        <div class="header">
          <img
            src="/static/images/logo_SJB.png"
            alt="Logo SJB"
            class="logo-sjb"
          />
            <div class="date-info">
                <div>Fecha: 29/12/2024</div>
                <div>Hora: 00:01 AM</div>
            </div>
        </div>

        <div class="container-record">
          <h1 class="title">Record Académico</h1>
  
          <div class="student-info">
              <div class="info-row">
                  <div class="info-label">Código :</div>
                  <div class="info-value">1000071135</div>
              </div>
              <div class="info-row">
                  <div class="info-label">Nombre Completo :</div>
                  <div class="info-value">ROJAS LUCAS ANGELA IBETH</div>
              </div>
              <div class="info-row">
                  <div class="info-label">Situación :</div>
                  <div class="info-value">Cambio Datos</div>
              </div>
              <div class="info-row">
                  <div class="info-label">Grado :</div>
                  <div class="info-value">PREGRADO</div>
              </div>
              <div class="info-row">
                  <div class="info-label">Especialidad :</div>
                  <div class="info-value">MEDICINA HUMANA</div>
              </div>
          </div>
  
          
        </div>
        <div class="container-table">
          <div class="semester-header"> Semestre : 2020-1</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>003165</td>
                <td>BASES MOLECULARES Y CELULARES DE LA MEDICINA I</td>
                <td>5</td>
                <td>01</td>
                <td>15</td>
              </tr>
              <tr>
                <td>003166</td>
                <td>APRENDIENDO A SER MÉDICO</td>
                <td>3</td>
                <td>01</td>
                <td>15</td>
              </tr>
              <tr>
                <td>003167</td>
                <td>COMUNICACIÓN EN CIENCIAS DE LA SALUD</td>
                <td>4</td>
                <td>01</td>
                <td>19</td>
              </tr>
              <tr>
                <td>003554</td>
                <td class="data-tf">INTERCULTURALIDAD</td>
                <td>3</td>
                <td>01</td>
                <td>18</td>
              </tr>
              <tr>
                <td>003169</td>
                <td>MATEMÁTICA EN CIENCIAS DE LA SALUD</td>
                <td>3</td>
                <td>01</td>
                <td>18</td>
              </tr>
              <tr>
                <td>003170</td>
                <td>METODOLOGÍA DEL APRENDIZAJE</td>
                <td>2</td>
                <td>01</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span >Promedio Ponderado: 17</span>
          </div>
        
          <div class="semester-header">Semestre : 2020-2</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>003171</td>
                <td>BASES MOLECULARES Y CELULARES DE LA MEDICINA II</td>
                <td>2</td>
                <td>02</td>
                <td>11</td>
              </tr>
              <tr>
                <td>003172</td>
                <td>ESTRUCTURA Y FUNCIÓN DE LOS SISTEMAS DEL CUERPO HUMANO I</td>
                <td>6</td>
                <td>02</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003173</td>
                <td class="data-tf">DERECHO EN SALUD</td>
                <td>3</td>
                <td>02</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003174</td>
                <td>EL ARTE EN LAS CIENCIAS</td>
                <td>3</td>
                <td>02</td>
                <td>18</td>
              </tr>
              <tr>
                <td>003175</td>
                <td>LÓGICA Y FILOSOFÍA</td>
                <td>3</td>
                <td>02</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003176</td>
                <td>REALIDAD NACIONAL</td>
                <td>3</td>
                <td>02</td>
                <td>17</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span >Promedio Ponderado: 14.15</span>
          </div>

          <div class="semester-header">Semestre : 2021-1</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>003177</td>
                <td>BASES MOLECULARES Y CELULARES DE LA MEDICINA III</td>
                <td>4</td>
                <td>03</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003178</td>
                <td>CIENCIAS DE LA CONDUCTA APLICADAS A LA MEDICINA</td>
                <td>2</td>
                <td>03</td>
                <td>17</td>
              </tr>
              <tr>
                <td>003179</td>
                <td>ESTRUCTURA Y FUNCIÓN DE LOS SISTEMAS DEL CUERPO HUMANO II</td>
                <td>8</td>
                <td>03</td>
                <td>15</td>
              </tr>
              <tr>
                <td>003182</td>
                <td>NUEVAS TECNOLOGÍAS DE LA INFORMACIÓN Y LA COMUNICACIÓN (NTICs)</td>
                <td>2</td>
                <td>03</td>
                <td>17</td>
              </tr>
              <tr>
                <td>003180</td>
                <td>HISTORIA DE LA MEDICINA Y MEDICINA TRADICIONAL</td>
                <td>2</td>
                <td>03</td>
                <td>18</td>
              </tr>
              <tr>
                <td>003181</td>
                <td>MÉTODOS ESTADÍSTICOS</td>
                <td>2</td>
                <td>03</td>
                <td>14</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span >Promedio Ponderado: 15.2</span>
          </div>

          <div class="semester-header">Semestre : 2021-2</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>003183</td>
                <td>ESTRUCTURA Y FUNCIÓN DE LOS SISTEMAS DEL CUERPO HUMANO III</td>
                <td>8</td>
                <td>04</td>
                <td>12</td>
              </tr>
              <tr>
                <td>003184</td>
                <td>INMUNOLOGÍA</td>
                <td>2</td>
                <td>04</td>
                <td>14</td>
              </tr>
              <tr>
                <td>003185</td>
                <td>MICROBIOLOGÍA MÉDICA</td>
                <td>4</td>
                <td>04</td>
                <td>14</td>
              </tr>
              <tr>
                <td>003186</td>
                <td>PARASITOLOGÍA</td>
                <td>3</td>
                <td>04</td>
                <td>11</td>
              </tr>
              <tr>
                <td>003187</td>
                <td>SALUD COMUNITARIA</td>
                <td>3</td>
                <td>04</td>
                <td>15</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span>Promedio Ponderado: 12.857</span>
          </div>

          <div class="semester-header">Semestre : 2022-1</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>003189</td>
                <td class="data-tf">INTEGRADORA I</td>
                <td>6</td>
                <td>05</td>
                <td>11</td>
              </tr>
              <tr>
                <td>003190</td>
                <td>PATOLOGÍA GENERAL</td>
                <td>5</td>
                <td>05</td>
                <td>11</td>
              </tr>
              <tr>
                <td>003188</td>
                <td>EPIDEMIOLOGÍA</td>
                <td>2</td>
                <td>05</td>
                <td>14</td>
              </tr>
              <tr>
                <td>003192</td>
                <td>INGLÉS EN SALUD</td>
                <td>2</td>
                <td>05</td>
                <td>14</td>
              </tr>
              <tr>
                <td>003191</td>
                <td>TERAPÉUTICA Y CUIDADOS PALIATIVOS</td>
                <td>5</td>
                <td>05</td>
                <td>11</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span>Promedio Ponderado: 12.2</span>
          </div>
          
          <div class="semester-header">Semestre : 2022-2</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>003175</td>
                <td class="data-tf">FISIOPATOLOGIA I</td>
                <td>6</td>
                <td>06</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003190</td>
                <td>GENÉTICA MÉDICA I</td>
                <td>5</td>
                <td>06</td>
                <td>11</td>
              </tr>
              <tr>
                <td>003173</td>
                <td>BIOÉTICA</td>
                <td>2</td>
                <td>06</td>
                <td>12</td>
              </tr>
              <tr>
                <td>003192</td>
                <td>MEDICINA INTERCULTURAL</td>
                <td>2</td>
                <td>06</td>
                <td>14</td>
              </tr>
              <tr>
                <td>003187</td>
                <td>PATOLOGÍA DE LOS SISTEMAS</td>
                <td>5</td>
                <td>06</td>
                <td>11</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span>Promedio Ponderado: 12.2</span>
          </div>


          <div class="semester-header">Semestre : 2023-1</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>005723</td>
                <td>DIDACTIVAS ACTIVAS EN LA COMUNICACION Y EL APRENDIZAJE</td>
                <td>2</td>
                <td>07</td>
                <td>14</td>
              </tr>
              <tr>
                <td>003189</td>
                <td class="data-tf">INTEGRADORA II</td>
                <td>6</td>
                <td>07</td>
                <td>08</td>
              </tr>
              <tr>
                <td>003223</td>
                <td>ESTRUCTURA Y FUNCION DE LOS SISTEMAS DEL CUERPO HUMANO IV</td>
                <td>6</td>
                <td>07</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003175</td>
                <td>REDACCION Y PUBLICACION DE ARTICULOS I</td>
                <td>4</td>
                <td>07</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003204</td>
                <td>QUECHUA EN SALUD</td>
                <td>2</td>
                <td>07</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
            <div class="promedio-ponderado">
            <span>Promedio Ponderado: 12</span>
          </div>

          <div class="semester-header">Semestre : 2023-2</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>005725</td>
                <td>PROTECCION DEL MEDIO AMBIENTE Y DESARROLLO SOSTENIBLE</td>
                <td>4</td>
                <td>08</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003189</td>
                <td class="data-tf">INTEGRADORA II</td>
                <td>6</td>
                <td>08</td>
                <td>12</td>
              </tr>
              <tr>
                <td>003173</td>
                <td>FISIOPATOLOGIA II</td>
                <td>6</td>
                <td>08</td>
                <td>13</td>
              </tr>
              <tr>
                <td>003191</td>
                <td>METODOLOGIA DE LA SALUD</td>
                <td>4</td>
                <td>08</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span>Promedio Ponderado: 12.5</span>
          </div>

          <div class="semester-header">Semestre : 2024-1</div>
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Crd</th>
                <th>Ciclo</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>093501</td>
                <td>ATENCION DEL CLIENTE EN SALUD MENTAL</td>
                <td>5</td>
                <td>09</td>
                <td>16</td>
              </tr>
              <tr>
                <td>093601</td>
                <td>CLINICA Y TERAPEUTICA EN CIRUGIA I</td>
                <td>9</td>
                <td>09</td>
                <td>15</td>
              </tr>
              <tr>
                <td>093801</td>
                <td class="data-tf">MEDICINA LEGAL</td>
                <td>2</td>
                <td>09</td>
                <td>17</td>
              </tr>
              <tr>
                <td>093901</td>
                <td class="data-tf">REDACCION Y PUBLICACION DE ARTICULOS II</td>
                <td>2</td>
                <td>09</td>
                <td>16</td>
              </tr>
              <tr>
                <td>093701</td>
                <td class="data-tf">ELECTIVO 4</td>
                <td>2</td>
                <td>09</td>
                <td>15</td>
              </tr>
            </tbody>
          </table>
          <div class="promedio-ponderado">
            <span>Promedio Ponderado: 15.55</span>
          </div>

          <div class="semester-header">Semestre : 2024-2</div>
            <table>
              <thead>
                  <tr>
                      <th>Código</th>
                      <th>Curso</th>
                      <th>Crd</th>
                      <th>Ciclo</th>
                      <th>Nota</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>004561</td>
                      <td>ATENCIÓN DEL PACIENTE EN SALUD MENTAL</td>
                      <td>2</td>
                      <td>10</td>
                      <td>17</td>
                  </tr>
                  <tr>
                      <td>093601</td>
                      <td>CLÍNICA Y TERAPÉUTICA EN CIRUGÍA I</td>
                      <td>10</td>
                      <td>10</td>
                      <td>16</td>
                  </tr>
                  <tr>
                      <td>004563</td>
                      <td>SEMINARIO DE CIENCIAS BÁSICAS APLICADAS A LA CLÍNICA I</td>
                      <td>3</td>
                      <td>10</td>
                      <td>17</td>
                  </tr>
                  <tr>
                      <td>004564</td>
                      <td>GESTIÓN ESTRATÉGICA Y EMPRENDIMIENTO EN SERVICIOS DE SALUD</td>
                      <td>3</td>
                      <td>10</td>
                      <td>17</td>
                  </tr>
                  <tr>
                      <td>004565</td>
                      <td class="data-tf">REDACCIÓN Y PUBLICACIÓN DE ARTÍCULOS I</td>
                      <td>2</td>
                      <td>10</td>
                      <td>16</td>
                  </tr>
              </tbody>
            </table>
          <div class="promedio-ponderado">
            <span>Promedio Ponderado: 16.5</span>
          </div>

        </div>
        <hr>
        <div class="container-record">
          <div class="resumen-promedio">
            <p class="Resumen">Resumen</p>
            <p class="Resumen">Promedio Ponderado General: 15.310</p>
          </div>
          <p class="total_cursos">Total de Cursos Aprobados: 58</p>
          <p class="total_creditos">Total de Créditos Aprobados: 177</p>
          
          <div class="sin_valor">
            <p >SIN VALOR OFICIAL</p>
          </div>

          <p class="nota_informativa">
            NOTA: Este reporte carece de valor sin la firma y sello del
            Departamento de Registro Técnico
          </p>

        </div>
      </div>
      
    </div>
    <div class="boton-imprimir">
      <button>Imprimir</button>
    </div>
    <footer>
      <p>UPSJB © 2024. Todos los derechos reservados.</p>
    </footer>
   
   
    <script src="/static/scripts/record_academico.js"></script>
  </body>
</html>