<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interfaz Digital</title>
    <link rel="stylesheet" href="/static/css/record_academico.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <img
              src="/static/images/ico_TV.png"
              alt="Blackboard icon"
              class="tv-icon"
            />
            <a href="#"
              >Blackboard</a
            >
          </li>
          <li class="zoom-item">
            <img
              class="zoom-icon"
              src="/static/images/ico_recording.png"
              alt="Zoom icon"
            />
            <a href="#" target="_blank">Zoom</a>
          </li>
          <li class="onedrive-item">
            <img
              class="onedrive-icon"
              src="/static/images/ico_cloud.png"
              alt="Onedrive icon"
            />
            <a
              href="#"
              >Onedrive</a
            >
          </li>
          <li class="correo-item">
            <img
              class="correo-icon"
              src="/static/images/ico_message.png"
              alt="Correo icon"
            />
            <a href="#">Correo</a>
          </li>
          <li class="repositorio-item">
            <img
              class="repositorio-icon"
              src="/static/images/ico_notification.png"
              alt="Repositorio icon"
            />
            <a href="#">Repositorio</a>
          </li>
        </ul>
        <div class="icons">
          <img src="/static/images/ico_clock.png" alt="Clock icon" />
          <img src="/static/images/ico_help.png" alt="Help icon" />
        </div>
        <div class="user-info">
          <img src="/static/images/ico_profile.png" alt="imagen" />
          <div class="textos">
            <span>ANGELA.ROJAS</span>
            <span class="header-info">ESTUDIANTE</span>
          </div>
        </div>
      </nav>
    </header>
    <div class="content">
      <aside>
        <div class="logo">
          <img src="/static/images/logo_terceario.png" alt="Logo" />
        </div>
        <ul>
          <li>
            <a href="#" class="inicio"><span>Inicio</span></a>
          </li>
          <li>
            <a href="#" target="_blank" class="mis_trámites"
              ><span>Mis Trámites</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="pagos_en_linea"
              ><span>Pagos en Línea</span></a
            >
          </li>
          <li>
            <a class="informacion_academica">
              <span
                class="dropdown-span"
                onclick="this.classList.toggle('active');"
              >
                Información Académica
                <img
                  src="/static/images/despliegue.png"
                  alt="Desplegar"
                  class="dropdown-arrow"
                />
              </span>
            </a>
            <ul class="submenu">
              <li><a href="#" class="option-icon">Mi Horario</a></li>
              <li><a href="#" class="option-icon">Mis Calificaciones</a></li>
              <li><a href="#" class="option-icon">Mi Record Académico</a></li>
              <li><a href="#" class="option-icon">Mis Notas Aprobadas</a></li>
              <li><a href="#" class="option-icon">Requisitos</a></li>
            </ul>
          </li>
          <li>
            <a
              href="#"
              class="portal_de_biblioteca"
              ><span>Portal de Biblioteca</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="cambiar_mi_contraseña"
              ><span>Cambiar Mi Contraseña</span></a
            >
          </li>
        </ul>
      </aside>
      <div class="main-content">
        <div class="red-shape"></div>
        <img
          src="/static/images/logo_SJB.png"
          alt="Logo SJB"
          class="logo-sjb"
        />
        <div class="notes-panel">
          <div class="header">
            <h2>Record Académico</h2>
            <p class="info codigo">
              <span>Código :</span> <span>1000071135</span>
            </p>
            <p class="info nombre-completo">
              <span>Nombre Completo :</span>
              <span>ROJAS LICAS,ANGELA IBETH</span>
            </p>
            <p class="info situacion">
              <span>Situación :</span> <span>Cambio Datos</span>
            </p>
            <p class="info grado"><span>Grado :</span> <span>PREGRADO</span></p>
            <p class="info especialidad">
              <span>Especialidad :</span> <span>MEDICINA HUMANA</span>
            </p>
          </div>
          <span class="background-semestre"></span>
          <h3 class="semestre1">Semestre : 2020-1</h3>
          <table>
            <thead>
              <tr>
                <th class="Código">Código</th>
                <th class="Curso">Curso</th>
                <th class="Crd">Crd</th>
                <th class="Ciclo">Ciclo</th>
                <th class="Nota">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr class="seccion1">
                <td class="cod">003165</td>
                <td class="curso">BASES MOLECULARES Y CELULARES DE LA MEDICINA I</td>
                <td class="crd">5</td>
                <td class="ciclo">01</td>
                <td class="nota">15</td>
              </tr>
              <tr class="seccion2">
                <td class="cod">003166</td>
                <td class="curso">APRENDIENDO A SER MÉDICO</td>
                <td class="crd">3</td>
                <td class="ciclo">01</td>
                <td class="nota">15</td>
              </tr>
              <tr class="seccion3">
                <td class="cod">003167</td>
                <td class="curso">COMUNICACIÓN EN CIENCIAS DE LA SALUD</td>
                <td class="crd">4</td>
                <td class="ciclo">01</td>
                <td class="nota">19</td>
              </tr>
              <tr class="seccion4">
                <td class="cod">003554</td>
                <td class="curso">INTERCULTURALIDAD</td>
                <td class="crd">3</td>
                <td class="ciclo">01</td>
                <td class="nota">18</td>
              </tr>
              <tr class="seccion5">
                <td class="cod">003169</td>
                <td class="curso">MATEMÁTICA EN CIENCIAS DE LA SALUD</td>
                <td class="crd">3</td>
                <td class="ciclo">01</td>
                <td class="nota">18</td>
              </tr>
              <tr class="seccion6">
                <td class="cod">003170</td>
                <td class="curso">METODOLOGÍA DEL APRENDIZAJE</td>
                <td class="crd">2</td>
                <td class="ciclo">01</td>
                <td class="nota">18</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado">Promedio Ponderado: 17</span>

          <span class="background-semestre2"></span>
          <h3 class="semestre2">Semestre : 2020-2</h3>
          <table class="dos">
            <thead>
              <tr>
                <th class="Código2">Código</th>
                <th class="Curso2">Curso</th>
                <th class="Crd2">Crd</th>
                <th class="Ciclo2">Ciclo</th>
                <th class="Nota2">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr class="seccion7">
                <td class="cod">003171</td>
                <td class="curso2">BASES MOLECULARES Y CELULARES DE LA MEDICINA II</td>
                <td class="crd2">2</td>
                <td class="ciclo2">02</td>
                <td class="nota2">11</td>
              </tr>
              <tr class="seccion8">
                <td class="cod">003172</td>
                <td class="curso2">ESTRUCTURA Y FUNCIÓN DE LOS SISTEMAS DEL CUERPO HUMANO I</td>
                <td class="crd2">6</td>
                <td class="ciclo2">02</td>
                <td class="nota2">13</td>
              </tr>
              <tr class="seccion9">
                <td class="cod">003173</td>
                <td class="curso2">DERECHO EN SALUD</td>
                <td class="crd2">3</td>
                <td class="ciclo2">02</td>
                <td class="nota2">13</td>
              </tr>
              <tr class="seccion10">
                <td class="cod">003174</td>
                <td class="curso2">EL ARTE EN LAS CIENCIAS</td>
                <td class="crd2">3</td>
                <td class="ciclo2">02</td>
                <td class="nota2">18</td>
              </tr>
              <tr class="seccion11">
                <td class="cod">003175</td>
                <td class="curso2">LÓGICA Y FILOSOFÍA</td>
                <td class="crd2">3</td>
                <td class="ciclo2">02</td>
                <td class="nota2">13</td>
              </tr>
              <tr class="seccion12">
                <td class="cod">003176</td>
                <td class="curso2">REALIDAD NACIONAL</td>
                <td class="crd2">3</td>
                <td class="ciclo2">02</td>
                <td class="nota2">17</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado2">Promedio Ponderado: 14.15</span>

          <h3 class="semestre3">Semestre : 2021-1</h3>
          <table class="tres">
            <thead>
              <tr>
                <th class="Código3">Código</th>
                <th class="Curso3">Curso</th>
                <th class="Crd3">Crd</th>
                <th class="Ciclo3">Ciclo</th>
                <th class="Nota3">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">003177</td>
                <td class="curso3">BASES MOLECULARES Y CELULARES DE LA MEDICINA III</td>
                <td class="crd3">4</td>
                <td class="ciclo3">03</td>
                <td class="nota3">13</td>
              </tr>
              <tr>
                <td class="cod">003178</td>
                <td class="curso3">CIENCIAS DE LA CONDUCTA APLICADAS A LA MEDICINA</td>
                <td class="crd3">2</td>
                <td class="ciclo3">03</td>
                <td class="nota3">17</td>
              </tr>
              <tr>
                <td class="cod">003179</td>
                <td class="curso3">ESTRUCTURA Y FUNCIÓN DE LOS SISTEMAS DEL CUERPO HUMANO II</td>
                <td class="crd3">8</td>
                <td class="ciclo3">03</td>
                <td class="nota3">15</td>
              </tr>
              <tr>
                <td class="cod">003182</td>
                <td class="curso3">NUEVAS TECNOLOGÍAS DE LA INFORMACIÓN Y LA COMUNICACIÓN (NTICs)</td>
                <td class="crd3">2</td>
                <td class="ciclo3">03</td>
                <td class="nota3">17</td>
              </tr>
              <tr>
                <td class="cod">003180</td>
                <td class="curso3">HISTORIA DE LA MEDICINA Y MEDICINA TRADICIONAL</td>
                <td class="crd3">2</td>
                <td class="ciclo3">03</td>
                <td class="nota3">18</td>
              </tr>
              <tr>
                <td class="cod">003181</td>
                <td class="curso3">MÉTODOS ESTADÍSTICOS</td>
                <td class="crd3">2</td>
                <td class="ciclo3">03</td>
                <td class="nota3">14</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado3">Promedio Ponderado: 15.2</span>

          <h3 class="semestre4">Semestre : 2021-2</h3>
          <table class="cuatro">
            <thead>
              <tr>
                <th class="Código4">Código</th>
                <th class="Curso4">Curso</th>
                <th class="Crd4">Crd</th>
                <th class="Ciclo4">Ciclo</th>
                <th class="Nota4">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">003183</td>
                <td class="curso4">ESTRUCTURA Y FUNCIÓN DE LOS SISTEMAS DEL CUERPO HUMANO III</td>
                <td class="crd4">9</td>
                <td class="ciclo4">04</td>
                <td class="nota4">12</td>
              </tr>
              <tr>
                <td class="cod">003184</td>
                <td class="curso4">INMUNOLOGÍA</td>
                <td class="crd4">2</td>
                <td class="ciclo4">04</td>
                <td class="nota4">14</td>
              </tr>
              <tr>
                <td class="cod">003185</td>
                <td class="curso4">MICROBIOLOGÍA MÉDICA</td>
                <td class="crd4">4</td>
                <td class="ciclo4">04</td>
                <td class="nota4">14</td>
              </tr>
              <tr>
                <td class="cod">003186</td>
                <td class="curso4">PARASITOLOGÍA</td>
                <td class="crd4">3</td>
                <td class="ciclo4">04</td>
                <td class="nota4">11</td>
              </tr>
              <tr>
                <td class="cod">003187</td>
                <td class="curso4">SALUD COMUNITARIA</td>
                <td class="crd4">3</td>
                <td class="ciclo4">04</td>
                <td class="nota4">15</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado4">Promedio Ponderado: 12.857</span>

          <h3 class="semestre5">Semestre : 2022-1</h3>
          <table class="cinco">
            <thead>
              <tr>
                <th class="Código5">Código</th>
                <th class="Curso5">Curso</th>
                <th class="Crd5">Crd</th>
                <th class="Ciclo5">Ciclo</th>
                <th class="Nota5">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">003189</td>
                <td class="curso5">INTEGRADORA I</td>
                <td class="crd5">6</td>
                <td class="ciclo5">05</td>
                <td class="nota5">11</td>
              </tr>
              <tr>
                <td class="cod">003190</td>
                <td class="curso5">PATOLOGÍA GENERAL</td>
                <td class="crd5">5</td>
                <td class="ciclo5">05</td>
                <td class="nota5">11</td>
              </tr>
              <tr>
                <td class="cod">003188</td>
                <td class="curso5">EPIDEMIOLOGÍA</td>
                <td class="crd5">2</td>
                <td class="ciclo5">05</td>
                <td class="nota5">14</td>
              </tr>
              <tr>
                <td class="cod">003192</td>
                <td class="curso5">INGLÉS EN SALUD</td>
                <td class="crd5">2</td>
                <td class="ciclo5">05</td>
                <td class="nota5">14</td>
              </tr>
              <tr>
                <td class="cod">003191</td>
                <td class="curso5">TERAPÉUTICA Y CUIDADOS PALIATIVOS</td>
                <td class="crd5">5</td>
                <td class="ciclo5">05</td>
                <td class="nota5">11</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado5">Promedio Ponderado: 12.2</span>

          <h3 class="semestre6">Semestre : 2022-2</h3>
          <table class="seis">
            <thead>
              <tr>
                <th class="Código6">Código</th>
                <th class="Curso6">Curso</th>
                <th class="Crd6">Crd</th>
                <th class="Ciclo6">Ciclo</th>
                <th class="Nota6">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">003175</td>
                <td class="curso6">FISIOPATOLOGÍA I</td>
                <td class="crd6">6</td>
                <td class="ciclo6">06</td>
                <td class="nota6">13</td>
              </tr>
              <tr>
                <td class="cod">003190</td>
                <td class="curso6">GENÉTICA MÉDICA I</td>
                <td class="crd6">5</td>
                <td class="ciclo6">06</td>
                <td class="nota6">11</td>
              </tr>
              <tr>
                <td class="cod">003173</td>
                <td class="curso6">BIOÉTICA</td>
                <td class="crd6">2</td>
                <td class="ciclo6">06</td>
                <td class="nota6">12</td>
              </tr>
              <tr>
                <td class="cod">003192</td>
                <td class="curso6">MEDICINA INTERCULTURAL</td>
                <td class="crd6">2</td>
                <td class="ciclo6">06</td>
                <td class="nota6">14</td>
              </tr>
              <tr>
                <td class="cod">003187</td>
                <td class="curso6">PATOLOGÍA DE LOS SISTEMAS</td>
                <td class="crd6">5</td>
                <td class="ciclo6">06</td>
                <td class="nota6">11</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado6">Promedio Ponderado: 12.2</span>

          <h3 class="semestre7">Semestre : 2023-1</h3>
          <table class="siete">
            <thead>
              <tr>
                <th class="Código7">Código</th>
                <th class="Curso7">Curso</th>
                <th class="Crd7">Crd</th>
                <th class="Ciclo7">Ciclo</th>
                <th class="Nota7">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">005723</td>
                <td class="curso7">DIDACTIVAS ACTIVAS EN LA COMUNICACION Y EL APRENDIZAJE</td>
                <td class="crd7">2</td>
                <td class="ciclo7">07</td>
                <td class="nota7">14</td>
              </tr>
              <tr>
                <td class="cod">003189</td>
                <td class="curso7">INTEGRADORA II</td>
                <td class="crd7">6</td>
                <td class="ciclo7">07</td>
                <td class="nota7">08</td>
              </tr>
              <tr>
                <td class="cod">003223</td>
                <td class="curso7">ESTRUCTURA Y FUNCION DE LOS SISTEMAS DEL CUERPO HUMANO IV</td>
                <td class="crd7">6</td>
                <td class="ciclo7">07</td>
                <td class="nota7">13</td>
              </tr>
              <tr>
                <td class="cod">003175</td>
                <td class="curso7">REDACCION Y PUBLICACION DE ARTICULOS I</td>
                <td class="crd7">4</td>
                <td class="ciclo7">07</td>
                <td class="nota7">13</td>
              </tr>
              <tr>
                <td class="cod">003204</td>
                <td class="curso7">QUECHUA EN SALUD</td>
                <td class="crd7">2</td>
                <td class="ciclo7">07</td>
                <td class="nota7">12</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado7">Promedio Ponderado: 12</span>

          <h3 class="semestre8">Semestre : 2023-2</h3>
          <table class="ocho">
            <thead>
              <tr>
                <th class="Código8">Código</th>
                <th class="Curso8">Curso</th>
                <th class="Crd8">Crd</th>
                <th class="Ciclo8">Ciclo</th>
                <th class="Nota8">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">005725</td>
                <td class="curso8">PROTECCION DEL MEDIO AMBIENTE Y DESARROLLO SOSTENIBLE</td>
                <td class="crd8">2</td>
                <td class="ciclo8">08</td>
                <td class="nota8">13</td>
              </tr>
              <tr>
                <td class="cod">003189</td>
                <td class="curso8">INTEGRADORA II</td>
                <td class="crd8">6</td>
                <td class="ciclo8">08</td>
                <td class="nota8">12</td>
              </tr>
              <tr>
                <td class="cod">003173</td>
                <td class="curso8">FISIOPATOLOGÍA</td>
                <td class="crd8">6</td>
                <td class="ciclo8">08</td>
                <td class="nota8">13</td>
              </tr>
              <tr>
                <td class="cod">003191</td>
                <td class="curso8">METODOLOGIA DE LA SALUD</td>
                <td class="crd8">2</td>
                <td class="ciclo8">08</td>
                <td class="nota8">12</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado8">Promedio Ponderado: 12.5</span>

          <h3 class="semestre9">Semestre : 2024-1</h3>
          <table class="nueve">
            <thead>
              <tr>
                <th class="Código9">Código</th>
                <th class="Curso9">Curso</th>
                <th class="Crd9">Crd</th>
                <th class="Ciclo9">Ciclo</th>
                <th class="Nota9">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cod">093501</td>
                <td class="curso9">ATENCION DEL CLIENTE EN SALUD MENTAL</td>
                <td class="crd9">5</td>
                <td class="ciclo9">09</td>
                <td class="nota9">16</td>
              </tr>
              <tr>
                <td class="cod">093601</td>
                <td class="curso9">CLINICA Y TERAPEUTICA EN CIRUGIA I</td>
                <td class="crd9">9</td>
                <td class="ciclo9">09</td>
                <td class="nota9">15</td>
              </tr>
              <tr>
                <td class="cod">093801</td>
                <td class="curso9">MEDICINA LEGAL</td>
                <td class="crd9">2</td>
                <td class="ciclo9">09</td>
                <td class="nota9">17</td>
              </tr>
              <tr>
                <td class="cod">093901</td>
                <td class="curso9">REDACCION Y PUBLICACION DE ARTICULOS II</td>
                <td class="crd9">2</td>
                <td class="ciclo9">09</td>
                <td class="nota9">16</td>
              </tr>
              <tr>
                <td class="cod">093701</td>
                <td class="curso9">ELECTIVO 4</td>
                <td class="crd9">2</td>
                <td class="ciclo9">09</td>
                <td class="nota9">15</td>
              </tr>
            </tbody>
          </table>
          <span class="promedio-ponderado9">Promedio Ponderado: 15.55</span>

          <h3>Resumen</h3>
          <p>Total de Cursos Aprobados: 46</p>
          <p>Total de Créditos Aprobados: 177</p>
          <p>Promedio Ponderado General: 15.310</p>

          <p>
            NOTA: Este reporte carece de valor sin la firma y sello del
            Departamento de Registro Técnico
          </p>
        </div>
      </div>
    </div>
    <footer>
      <p>UPSJB © 2024. Todos los derechos reservados.</p>
    </footer>
    <script src="/static/scripts/record_academico.js"></script>
  </body>
</html>